*{box-sizing: border-box;}

body{
    margin: auto;
    padding: 2em;
}

h1{
    color: white;
}

.row{
    padding: 1rem;
}

.barra{
    h1{
        color: rgb(143, 232, 238);}
    margin: 0%;
    
}

.cajaBorde{
    border-style: solid;
    border-color: rgb(143, 232, 238);
    height: 30vh;
}


